/*-------------------------*/
/*----- START GLOBALS -----*/
/*-------------------------*/
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Mali', cursive; 
  color: #2d3436;
}

a {
  text-decoration: none;
}
/*-----------------------*/
/*----- END GLOBALS -----*/
/*-----------------------*/


.App {
  width: 100%;
  display: flex;
  text-align: center;
  height: 100vh;
}




/*-------------------------*/
/*----- START SIDEBAR -----*/
/*-------------------------*/

/*----- START Sidebar -----*/
.sidebar {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  border-right: 1px solid #cecece;
}
/*----- END Sidebar -----*/

/*----- START Logo -----*/
.logo {
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.logo img {
  width: 100%;
}
/*----- END logo -----*/

/*----- START Menu -----*/
.menu {
  padding: 20px;
}

.menu button {
  background: transparent;
  border: none;
  margin: 10px;
  color: #636e72;
  outline: none;
  cursor: pointer;
}

.menu button:hover {
  color: #2d3436;
  text-decoration: underline;
}
/*----- END Menu -----*/

/*----- START Footer -----*/
.footer {
  width: 300px;
  margin-bottom: 50px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.fab {
  width: 25px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

  /*----- START Social -----*/
  .social {
    text-align: center;
  }

  .fa-instagram:hover {    
    color: #c0392b;
  }
  
  .fa-linkedin:hover {
    color: #2980b9;   
  }

  /*----- END Social -----*/

  /*----- START Copyright -----*/
  .copyright p {
    margin: 3px;
    font-size: .75rem;
  }

  .fa-copyright {
    font-size: .85rem;
  }
  
  .fa-heart {
    color: #c0392b;
    font-size: .85rem;
  }

  #jon-maldia {
    text-decoration: underline;
    font-size: .75rem;
  }

  #jon-maldia:hover {
    color:  #2980b9;
  }
  /*----- END Copyright -----*/

/*----- END Footer -----*/


/*--------------------*/
/*----- END SIDEBAR -----*/
/*--------------------*/






/*----------------------*/
/*----- START MAIN -----*/
/*----------------------*/

  /*----- START ImageList -----*/
  .image-list {
    /* flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 20px;
    align-items: start;
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    padding: 20px;
    overflow: scroll;
  }
  /*----- END ImageList -----*/


  /*----- START Image -----*/
  .image {
    /* margin: 10px; */
  }

  .image img {
    border-radius: 3px;
    width: 100%;
  }
  /*----- END Image -----*/



  /*----- START Email -----*/
  .contact {
    margin: 50px auto;
    width: 600px; 
    min-width: 450px;
    text-align: left;
  }

  #mc_embed_signup h2 {
    font-size: 1.8em; 
  }

  #mc_embed_signup .indicates-required {
    text-align: left;
    font-size: 11px;
    margin-right: 4%;
    color: #888;
  }

  #mc_embed_signup .button {
    background-color: #27ae60;
  }
  /*----- END Email -----*/



  /*----- START About -----*/
  .info {
    margin: 150px auto;
    width: 100%; 
    overflow: scroll;
  }

  .about {
    margin: 0 auto;
    width: 600px; 
    min-width: 450px;
    text-align: left;
  }

  .about-p {
    margin-bottom: 20px;
    line-height: 170%;
    font-size: 1.1rem;
    text-align: justify;
  }

  .about img {
    text-align: left;
  }
  /*----- END About -----*/

/*--------------------*/
/*----- END MAIN -----*/
/*--------------------*/







@media (max-width: 1200px) {
  .image-list {grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 1050px) {
  .image-list {grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 900px) {
  .image-list {grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 750px) {
  .image-list {grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}