/*-------------------------*/
/*----- START GLOBALS -----*/
/*-------------------------*/
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Mali', cursive; 
  color: #2d3436;
}

a {
  text-decoration: none;
}
/*-----------------------*/
/*----- END GLOBALS -----*/
/*-----------------------*/


.App {
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
}




/*-------------------------*/
/*----- START SIDEBAR -----*/
/*-------------------------*/

/*----- START Sidebar -----*/
.sidebar {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  border-right: 1px solid #cecece;
}
/*----- END Sidebar -----*/

/*----- START Logo -----*/
.logo {
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.logo img {
  width: 100%;
}
/*----- END logo -----*/

/*----- START Menu -----*/
.menu {
  padding: 20px;
}

.menu a {
  margin: 10px;
  color: #636e72;
}

.menu a:hover {
  color: #2d3436;
  text-decoration: underline;
}
/*----- END Menu -----*/

/*----- START Footer -----*/
.footer {
  width: 300px;
  margin-bottom: 50px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.fab {
  width: 25px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

  /*----- START Social -----*/
  .social {
    text-align: center;
  }

  .fa-facebook:hover {
    color: #2980b9;   
  }

  .fa-instagram:hover {    
    color: #c0392b;
  }

  .fa-twitter-square:hover {
    color: #2980b9;
  }
  /*----- END Social -----*/

  /*----- START Copyright -----*/
  .copyright p {
    margin: 3px;
    font-size: .75rem;
  }

  .fa-copyright {
    font-size: .85rem;
  }
  
  .fa-heart {
    color: #c0392b;
    font-size: .85rem;
  }

  #jon-maldia {
    text-decoration: underline;
    font-size: .75rem;
  }

  #jon-maldia:hover {
    color:  #2980b9;
  }
  /*----- END Copyright -----*/

/*----- END Footer -----*/


/*--------------------*/
/*----- END SIDEBAR -----*/
/*--------------------*/






/*----------------------*/
/*----- START MAIN -----*/
/*----------------------*/

/*----- START ImageList -----*/
.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  min-width: 750px;
  height: 100%;
  padding: 20px;
}
/*----- END ImageList -----*/

/*----- START Image -----*/
.image {
  margin: 10px;
}

.image img {
  border-radius: 3px;
}
/*----- END Image -----*/

/*--------------------*/
/*----- END MAIN -----*/
/*--------------------*/


