.App {
  height: 100vh;
  width: 100%;
  display: flex;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*----------------------*/
/*----- START SIDEBAR -----*/
/*----------------------*/

/*----- START Sidebar -----*/
.sidebar {
  width: 35%;
  min-width: 250px;
  max-width: 300px;
  height: 100%;
  border-right: 1px solid #cecece;
}
/*----- END Sidebar -----*/

/*----- START Logo -----*/
.logo {
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.logo img {
  width: 100%;
}
/*----- END logo -----*/

/*----- START Menu -----*/
/*----- END Menu -----*/

/*----- START Social -----*/
/*----- END Social -----*/

/*----- START Copyright -----*/
/*----- END Copyright -----*/

/*--------------------*/
/*----- END SIDEBAR -----*/
/*--------------------*/






/*----------------------*/
/*----- START MAIN -----*/
/*----------------------*/

/*----- START ImageList -----*/
.image-list {
  width: 65%;
  min-width: 750px;
  height: 100%;
  padding: 20px;
}
/*----- END ImageList -----*/

/*----- START Image -----*/
/*----- END Image -----*/

/*--------------------*/
/*----- END MAIN -----*/
/*--------------------*/


